<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><b>Attention Here!</b></h1>
    <p>
      <b>
        The results of your Early Test (<span><%= @testId %></span>) are positive!
        Please call us as soon as possible to schedule a follow up consultation for treatment at 
        <a class="alert-link" href="tel:16195438080" style="color: red;">
          619-543-8080.
        </a>
      </b>
    </p>
    
    <p>
    See you soon
    </p>
  </body>
</html>