<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><b>Early Test Result Ready To Check</b></h1>
    <p>
      <b>
        The results of your Early Test (<span><%= @testId %></span>) are ready to check now!
        Please go to the Website to get your test results or call us at 
        <a class="alert-link" href="tel:16195438080" style="color: red;">
          619-543-8080.
        </a>
      </b>
    </p>

    <p>
      Best Regards.
    </p>
  </body>
</html>