<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for scheduling an appointment with us.</h1>
    <p>
      Your scheduled appointment time is:<br>
      <%= @event.start_time %>
    </p>
    <p>
    Once again, our address is at 3830 Park Blvd. It's in the Egyptian at the the Corner of Park & University.

    If you have any questions, please do not hesitate to call us at 619-543-9340</p>
    <p>
      See you soon,

      Lead the Way</p>
  </body>
</html>