/*
*= require fullcalendar
*= require jquery.qtip.css
*= require bootstrap-dialog.css
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.fc{
	width: 80%;
}

#datetimepicker4, #datetimepicker5 {
  width: 35%;
  display: inline;
}

#inform {
	text-align: left;
	width:80%;
}

#title {
	color: blue;
}

#notice {
  color: red;
  font-size: 20px;
}