/*
*= require fullcalendar
*= require jquery.qtip.css
*= require bootstrap-dialog.css
*/

@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cerulean/variables";

@import 'bootstrap';

// Bootstrap body padding for fixed navbar
.navPadding { 
  padding-top: 60px; 
}

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

@import 'bootstrap-datetimepicker';

.fc {
	width: 80%;
}

.navbar {
  font-weight: 100;
}

#datetimepicker4, #datetimepicker5 {
  width: 35%;
  display: inline;
}

#inform {
	text-align: left;
	width:80%;
}

#title {
	color: blue;
}

#loadModal {
	margin: 200px auto;
}

#loadHeader {
	display: inline-block;
}

#noticeModal {
  margin: 200px auto;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  display: inline-block;

  margin: 0px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.alert-messages {
  position: fixed;
  top: 12px;
  left: 50%;
  right: 0;
  z-index: 9000;
  width: 550px;
  margin-left: -275px;
}

.message {
  position: relative;
  width: 600px;
  padding: 10px 12px;
  margin: 100px auto;
  background: #bd2a15;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

  .message-text {
    display: block;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    line-height: 16px;
  }
  .dismiss {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  .close, .dismiss {
    position: absolute;
    top: 5px;
    right: 12px;
    filter: alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
  }
}

.dismiss {
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.message-box-layer a.dismiss {
  top: 7px;
}

label.error {
  color: red;
}

.th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up.png);
}

.pretty th .desc {
  background-image: url(/images/down.png);
}